{% load static %}
<!DOCTYPE html><html lang="en"><head>
  <meta charset="utf-8">
  <title>Frontend</title>
  <base href="/">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="favicon.ico">
  <style>
    .language-selection.wrap {
        display: none;
    }
    .document-submit {
        margin-top: 20px;
    }
  </style>
<link rel="stylesheet" href="{% static 'dist/styles.1021e68f17287ef2.css' %}"></head>
<body>
  <app-root></app-root>
<script src="{% static 'dist/runtime.f0cd325c9a9e41bb.js' %}" type="module"></script>
<script src="{% static 'dist/polyfills.794d7387aea30963.js' %}" type="module"></script>
<script src="{% static 'dist/main.469565c09fb18956.js' %}" type="module"></script>

</body></html>
